.html_carousel {
padding: 0;
position: relative;
}
.html_carousel div.slide {

background-image: linear-gradient(bottom, rgb(218,227,223) 6%, rgb(226,240,232) 53%, rgb(240,245,245) 77%);
background-image: -o-linear-gradient(bottom, rgb(218,227,223) 6%, rgb(226,240,232) 53%, rgb(240,245,245) 77%);
background-image: -moz-linear-gradient(bottom, rgb(218,227,223) 6%, rgb(226,240,232) 53%, rgb(240,245,245) 77%);
background-image: -webkit-linear-gradient(bottom, rgb(218,227,223) 6%, rgb(226,240,232) 53%, rgb(240,245,245) 77%);
background-image: -ms-linear-gradient(bottom, rgb(218,227,223) 6%, rgb(226,240,232) 53%, rgb(240,245,245) 77%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.06, rgb(218,227,223)),
	color-stop(0.53, rgb(226,240,232)),
	color-stop(0.77, rgb(240,245,245))
);
	position: relative;
}
.html_carousel div.slide div {

background-color: black;
width: 100%;
display: block !important;
position: absolute;
bottom: 0;
opacity: 0.5;
height: 115px;
}
.html_carousel div.slide h4 {
font-size: 30px;
padding: 5px 0 0 25px;
}
.html_carousel div.slide p {
font-size: 16px;
padding: 0 0 39px 25px;
max-width: 890px;
}
.html_carousel div.slide h4, .html_carousel div.slide p {
	color: white;
	margin: 0;
}
.clearfix {
	float: none;
	clear: both;
}
		
		
		


		
		
		
		
		
a.carPrev, a.carNext, a.play, a.pause {
	background: url(http://cdn.crystal-web.org/files/images/carousel/miscellaneous_sprite.png) 0 0 no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
}

a.carPrev, a.carNext {
top: 150px;
}
.list_carousel a.carPrev, .list_carousel a.carNext {
	top: 30px;
}
a.play, a.pause {
	top: 185px;
	left: 50%;
	margin-left: -22px;
	z-index: 200;
}
a.carNext {
right: -15px;
}
a.carPrev {
	left: -15px;
}
a.carPrev:hover {			background-position: 0 -50px; }
a.carPrev.disabled {		background-position: 0 -100px !important; cursor: default; }
a.carNext {				background-position: -50px 0; }
a.carNext:hover {			background-position: -50px -50px; }
a.carNext.disabled {		background-position: -50px -100px !important; cursor: default; }
a.play {				background-position: -150px 0; }
a.play:hover {			background-position: -150px -50px; }
a.play.disabled {		background-position: -150px -100px !important; cursor: default; }
a.play.paused {			background-position: -100px 0; }
a.play.paused:hover {	background-position: -100px -50px; }
a.pause {				background-position: -150px 0; }
a.pause:hover {			background-position: -150px -50px; }
a.pause.disabled {		background-position: -150px -100px !important; cursor: default; }

a.carPrev span, a.carNext span, a.play span, a.pause span {
	display: none;
}

div.carPagination {
	padding: 10px 0 0 0;
	text-align: center;
	height: 15px;
position:relative;
top: -300px;
float: right;
}
div.carPagination a {
	background: url(http://imagineyourcraft.fr/media/image/png/miscellaneous-sprite.png) 0 -300px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
}
div.carPagination a.selected {
	background-position: -25px -300px;
	cursor: default;
}
div.carPagination a span {
	display: none;
}