@CHARSET "UTF-8";

@media screen {
	@font-face {
		font-family: 'Knewave';
		font-style: normal;
		font-weight: 400;
		src: local('Knewave'), local('Knewave-Regular'),
			url('http://themes.googleusercontent.com/static/fonts/knewave/v2/z4Vlc9cUSh3pgjFQgLyByQ.woff')
			format('woff');
	}
	@font-face {
		font-family: 'Belgrano';
		font-style: normal;
		font-weight: 400;
		src: local('Belgrano'), local('Belgrano-Regular'),
			url(http://themes.googleusercontent.com/static/fonts/belgrano/v3/Uqrqc-iJs9F-bnPYmyD1Dw.woff)
			format('woff');
	}
	@font-face {
		font-family: 'Ubuntu';
		font-style: normal;
		font-weight: 400;
		src: local('Ubuntu'),
			url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/hHs22WBTTzMhSqc5uBBDKg.woff)
			format('woff');
	}
	@font-face {
		font-family: 'Ubuntu';
		font-style: normal;
		font-weight: 700;
		src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
			url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/nsLtvfQoT-rVwGTHHnkeJj8E0i7KZn-EPnyo3HZu7kw.woff)
			format('woff');
	}
	@font-face {
		font-family: 'Ubuntu';
		font-style: normal;
		font-weight: 500;
		src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
			url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/gMhvhm-nVj1086DvGgmzBz8E0i7KZn-EPnyo3HZu7kw.woff)
			format('woff');
	}
}
#header{
	background: url(../header.png);
	height: 160px;
	
}
#box {
color: black;
display: none;
position: fixed;
top: 20%;
left: 20%;
width: 60%;
height: 60%;
max-height: 400px;
padding: 0;
margin: 0;
	border: none !important;
z-index: 10000000000;
overflow: hidden;
}
#boxheader{
	color: #000;
	position: relative;
	background: #E9E9E9;
	height: auto !important;
	background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA),
		color-stop(100%, #E9E9E9) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	/* Opera11.10+ */
	background: -ms-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	/* IE10+ */
	background: linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* W3C */
	filter: progid :     DXImageTransform.Microsoft.gradient (    
		startColorstr =  
		  '#FAFAFA', endColorstr =     '#E9E9E9' );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	border: 1px solid #D5D5D5;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-background-clip: padding-box;
	
}

#boxfooter {
	color: #000;
	position: relative !important;
	height: auto !important;
	background: #E9E9E9;
	background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #FAFAFA),
		color-stop(100%, #E9E9E9) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom, #FAFAFA 0%, #E9E9E9 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(bottom, #FAFAFA 0%, #E9E9E9 100%);
	/* Opera11.10+ */
	background: -ms-linear-gradient(bottom, #FAFAFA 0%, #E9E9E9 100%);
	/* IE10+ */
	background: linear-gradient(bottom, #FAFAFA 0%, #E9E9E9 100%); /* W3C */
	filter: progid :     DXImageTransform.Microsoft.gradient (    
		startColorstr =  
		  '#FAFAFA', endColorstr =     '#E9E9E9' );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	border: 1px solid #D5D5D5;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-background-clip: padding-box;
}

#boxcontent {
background: #FFF;
color: black;
margin: 0 0 0 0;
overflow: auto;
width: 100%;
position: relative !important;
top: 0 !important;
height: 85%;
overflow: hidden;
}
#boxclose {
border: 0px;
cursor: pointer;
float: right;
position: absolute;
top: 0;
right: 0px;
background: none !important;
width: 20px;
height: 20px;
margin-right: 0px;
}


.topbar {
	top: 15px;
}

.topbar-wrapper {
	position: relative !important;
	height: 40px;
	margin: 5px 0 15px;
}

.topbar-wrapper .topbar {
	position: absolute !important;
}

.topbar-inner {
	width: 960px;
	margin: auto;
}

.topbar-wrapper .topbar .topbar-inner {
	padding-left: 20px;
	padding-right: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.widget {
	position: relative;
	clear: both;
	width: auto;
	margin-bottom: 2em;
	overflow: hidden;
}

.widget-header{
	position: relative;
	height: 30px;
	line-height: 30px;
	background: #E9E9E9;
	background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA),
		color-stop(100%, #E9E9E9) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	/* Opera11.10+ */
	background: -ms-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	/* IE10+ */
	background: linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* W3C */
	filter: progid :     DXImageTransform.Microsoft.gradient (    
		startColorstr =  
		  '#FAFAFA', endColorstr =     '#E9E9E9' );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	border: 1px solid #D5D5D5;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-background-clip: padding-box;
}

.widget-header h3 {
	position: relative;
	top: 2px;
	left: 10px;
	display: inline-block;
	margin-right: 3em;
	font-size: 14px;
	font-weight: 800;
	color: #555;
	line-height: 18px;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, .5);
}

.widget-header [class ^="icon-"],.widget-header [class *=" icon-"] {
	display: inline-block;
	margin-left: 13px;
	margin-right: -2px;
	font-size: 16px;
	color: #555;
	vertical-align: middle;
}

.widget-content, .widget-menu {
	padding: 20px 15px 15px;
	background: #FFF;
	border: 1px solid #D5D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.widget-header+.widget-content {
	border-top: none;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.widget-nopad .widget-content {
	padding: 0;
}

/* Widget Content Clearfix */
.widget-content:before,.widget-content:after, .widget-menu:after, .widget-menu:before {
	content: "";
	display: table;
}

.widget-content:after, .widget-menu:after {
	clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.widget-content, .widget-menu {
	zoom: 1;
}

.widget-menu ul {
list-style: none;
margin: 0;
padding: 0;
}
.widget-content  li {
  margin-bottom: 1px ;
}
.widget-menu  li  a {
display: block;
line-height: 1em;
padding: 4px 4px;
text-decoration: none;
}

.widget-menu li a:hover {
	background: #E9E9E9;
	background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA),
		color-stop(100%, #E9E9E9) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	/* Opera11.10+ */
	background: -ms-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	/* IE10+ */
	background: linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* W3C */
	filter: progid :     DXImageTransform.Microsoft.gradient (    
		startColorstr =  
		  '#FAFAFA', endColorstr =     '#E9E9E9' );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	border: 1px solid #D5D5D5;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-background-clip: padding-box;	
}

.widget-box {
}
.widget-box .widget-link-title {
	font-size: 15px;
	font-weight: bold;
	color: #1F1F1F;
}
.widget-box li {
	display: inline;
}


.alert-radius {
	-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
padding: 14px 30px;
vertical-align: middle;
}
body, h1,h2,h3,h4,h5,h6 {
	font-family: 'Ubuntu';
}



.fill .container h3 a {font-family: 'Knewave';}

h2{font-family: baskerville, Georgia, serif !important;font-weight: normal !important;}
.well {
background-color: whiteSmoke;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(white), to(whiteSmoke));
background-image: -moz-linear-gradient(top, white, whiteSmoke);
background-image: -ms-linear-gradient(top, white, whiteSmoke);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, whiteSmoke));
background-image: -webkit-linear-gradient(top, white, whiteSmoke);
background-image: -o-linear-gradient(top, white, whiteSmoke);
background-image: linear-gradient(top, white, whiteSmoke);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
border: 1px solid #DDD;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 0 #ffffff;
-moz-box-shadow: inset 0 1px 0 #ffffff;
box-shadow: inset 0 1px 0 #ffffff;
}
.well h5 {
padding: 0px 14px;
margin: 10px 0px 16px;
background-color: whiteSmoke;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(white), to(whiteSmoke));
background-image: -moz-linear-gradient(top, white, whiteSmoke);
background-image: -ms-linear-gradient(top, white, whiteSmoke);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, whiteSmoke));
background-image: -webkit-linear-gradient(top, white, whiteSmoke);
background-image: -o-linear-gradient(top, white, whiteSmoke);
background-image: linear-gradient(top, white, whiteSmoke);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
border: 1px solid #DDD;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 0 #ffffff;
-moz-box-shadow: inset 0 1px 0 #ffffff;
box-shadow: inset 0 1px 0 #ffffff;
}
.well ul {
list-style:none;
margin: 0 0 18px 10px;
}
/***************************************
*	Bubble
**************************************
.link{
padding-right: 20px;
background: transparent url(http://cdn.crystal-web.org/files/images/icons/universal.png) no-repeat right;
}*/
.help {
padding-right: 20px;
background: transparent url(http://cdn.crystal-web.org/files/images/icons/question.png) no-repeat right;cursor: help;
}

/***************************************
*	Operator Sidebar
***************************************/
#opSiderbar{
background:#474747;color:#CACACA;  position:fixed;  top: 0px;  left:0;  bottom:0;  z-index:9999;  width:150px;  border-right: 5px solid #D9D9D9;}
#opSiderbar .settingbutton{  position:absolute;  display:block;  border:0;  top:17px;  right:-45px;  height:45px;  width:45px;  /*+border-radius:0 5px 5px 0;*/  -moz-border-radius:0 5px 5px 0;  -webkit-border-radius:0 5px 5px 0;  -khtml-border-radius:0 5px 5px 0;  border-radius:0 5px 5px 0;  /*+box-shadow:0px 0px 3px #000000;*/  -moz-box-shadow:0px 0px 3px #000000;  -webkit-box-shadow:0px 0px 3px #000000;  -o-box-shadow:0px 0px 3px #000000;  box-shadow:0px 0px 3px #000000;  background:#327D00 url(http://cdn.crystal-web.org/files/images/icons/toolbox.png) no-repeat center center;  margin:0px;}
#opSiderbar .left, .opSiderbar .right{  width:49%;}
#opSiderbar .left{  float:left;}
#opSiderbar .right{  float:right;}
#opSiderbar .grid{  width:150px;  margin:0 10px 15px;}

#opMenu{margin-left:0px;padding:0;list-style:none;font-size: 9pt;border: 1px solid rgba(0,0,0,0.8);}
#opMenu li a{display: block;border-bottom: 1px solid rgba(0,0,0, 0.2);border-top: 1px solid rgba(255,255,255, 0.2);background:#3e3f44;text-decoration:none;color:#FFF;text-shadow: 1px 0px 1px rgba(0,0,0,0.2);filter: dropshadow(color=#000, offx=1, offy=0);padding:10px;}
#opMenu li a:hover{background:#4a6ba2;}
#opMenu ul{margin:0;padding:0;list-style:none;overflow: hidden;}
#opMenu ul li a{background:#c1c1c1;color: #000;}
#opMenu ul li a:hover{background:#7D9BBA;}
#opMenu ul li a img{margin-right:10px;}


/***************************************
*	Helper bar
***************************************/
#helper-bar {background-color: #F0F0F0;border-top: 1px solid #CCC;bottom: 0px;font-family: verdana, arial;font-size: 11px;height: 30px;position: fixed;width: 100%;z-index: 9999;}
#helper-bar-frame {height: 30px;margin: 0px 10px 0px 10px;position: relative;}
#helper-bar-content {padding: 3px 0px 0px 0px;}

#helper-bar-content a {background-color: #E8E8E8 ;border: 1px solid #D0D0D0 ;color: #000000 ;display: inline-block;height: 22px ;line-height: 22px ;text-align: center ;text-decoration: none ;width: 105px ;}
#help-bar{background-color: #F0F0F0;border-top: 1px solid #CCC;bottom: 0px;font-family: verdana, arial;font-size: 11px;height: 30px;position: fixed;width: 100%;z-index: 1000;}
#help-bar img{
float:left;
}
.help-bar-top {background-color: #E8E8E8;border: 1px solid #D0D0D0;color: black;display: inline-block;height: 22px;line-height: 22px;text-align: center;text-decoration: none;width: 105px;}




/***************************************
*	Flipp this for me
***************************************/
.flippthis{clear:both}
.flippthis{
display:block;
-webkit-transition:.3s all linear;
-moz-transition:.3s all linear;
-ms-transition:.3s all linear;
-o-transition:.3s all linear;
transition:.3s all linear;
-webkit-transition:.3s all linear;
-moz-transition:.3s all linear;
-ms-transition:.3s all linear;
-o-transition:.3s all linear;
transition:.3s all linear}
.flippthis:hover{
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-ms-transform:rotate(360deg);
-o-transform:rotate(360deg);
transform:rotate(360deg);
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-ms-transform:rotate(360deg);
-o-transform:rotate(360deg);
transform:rotate(360deg)
}



/***************************************
*	Calendar
***************************************/
.sprite_bg {
background-color: #777;
}
.cal, .cal .m, .cal .d {
background: url(../images/cal-sprite64.png) no-repeat 0 0;
}
.cal {
display: inline-block;
height: 64px;
position: relative;
width: 64px;
float: right;
}
.cal .m {
position: absolute;
height: 10px;
left: 7px;
top: 17px;
width: 17px;
text-indent: -9999em;
}
.m1 .m  { background-position: -62px 0; }
.m2 .m  { background-position: -84px 0; }
.m3 .m  { background-position: -105px 0; }
.m4 .m  { background-position: -126px 0; }
.m5 .m  { background-position: -147px 0; }
.m6 .m  { background-position: -168px 0; }
.m7 .m  { background-position: -188px 0; }
.m8 .m  { background-position: -211px 0; }
.m9 .m  { background-position: -231px 0; }
.m10 .m { background-position: -253px 0; }
.m11 .m { background-position: -274px 0; }
.m12 .m { background-position: -295px 0; }

.cal .d {
position: absolute;
height: 25px;
left: 17px;
top: 25px;
width: 32px;
text-indent: -9999em;
}

.d1 .d, .d2 .d, .d3 .d, .d4 .d, .d5 .d, .d6 .d, .d7 .d, .d8 .d, .d9 .d {
left: 24px;
width: 17px;
}

.d1 .d  { background-position: -63px -9px; }
.d2 .d  { background-position: -80px -9px; }
.d3 .d  { background-position: -97px -9px; }
.d4 .d  { background-position: -115px -9px; }
.d5 .d  { background-position: -131px -9px; }
.d6 .d  { background-position: -147px -9px; }
.d7 .d  { background-position: -165px -9px; }
.d8 .d  { background-position: -182px -9px; }
.d9 .d  { background-position: -199px -9px; }
.d10 .d { background-position: -216px -9px; }
.d11 .d { background-position: -245px -9px; }
.d12 .d { background-position: -275px -9px; }
.d13 .d { background-position: -306px -9px; }
.d14 .d { background-position: -337px -9px; }
.d15 .d { background-position: -368px -9px; }
.d16 .d { background-position: -399px -9px; }
.d17 .d { background-position: -429px -9px; }
.d18 .d { background-position: -459px -9px; }
.d19 .d { background-position: -63px -38px; }
.d20 .d { background-position: -95px -37px; }
.d21 .d { background-position: -126px -37px; }
.d22 .d { background-position: -159px -37px; }
.d23 .d { background-position: -192px -37px; }
.d24 .d { background-position: -224px -37px; }
.d25 .d { background-position: -257px -37px; }
.d26 .d { background-position: -288px -37px; }
.d27 .d { background-position: -320px -37px; }
.d28 .d { background-position: -352px -37px; }
.d29 .d { background-position: -384px -37px; }
.d30 .d { background-position: -416px -37px; }
.d31 .d { background-position: -447px -37px; }