#ErrorLog logs.txt
AddDefaultCharset utf-8
RewriteEngine On
RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-d    #provoque un appel au dossier si un dossier nomm comme un controller existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) index.php/$1 [L]