/* Reset */
#main-container .container {
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
}
.container {
    max-width: 1920px !important;
}
.navbar-brand {
    padding: 0;
}
a {
    color: #585f69;
}
a:hover, a:focus {
    color: #FF7C00;
    text-decoration: underline;
}
/* Design */
body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;

    line-height: 20px;
    color: #666666;
    background-color: rgba(178, 192, 180, 0.57);
}
/*
 * Box du site
 * Elle contient, tout le site
 * --------------------------- */
#box {
    margin: 20px 50px;
    /* width: 980px;*/
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
/*
 * Ligne suppérieur, effet 3D
 * -------------------------- */
#top-line {
    height: 5px;
    background-color: #5caf91;
}

/*
 * Footer
 * ------ */
footer{
    color: #eee;
}
footer a {
    color: #fff;
    font-weight: bold;
}
#footer-top {
    height: 10px;
    background-color: #898989;
}
#footer-content {
    background-color: #666666;
    padding-top: 17px;
}
#footer-bottom {
    background-color: #333333;
}
#footer-bottom p {
    line-height: 42px;
    height: 42px;
    margin: 0;
}
#footer-bottom p, #footer-bottom p a {
    color: #ffffff;
}
.footer-navigate {
    padding-left: 0;
}
.footer-navigate li {
    list-style: none;
    font-size: 14px
}

.footer-news {
    display: block;
    overflow: hidden;
    padding: 0;
}
.footer-news li {
    list-style: none;
    border-bottom: 1px solid #3f3837;
    margin-bottom: 0;
    padding-bottom: 14px;
    padding-top: 18px;
}
.footer-news li img {
    float: left;
    border: 0px solid #f5f5f5;
    padding: 3px;
    margin-bottom: 0;
    margin-top: 3px;
    margin-right: 10px;
    background: #F5F5F5;
}
.footer-news-span {
    overflow: hidden;
}
.footer-news-span time {
    display: block;
}

/*
 * Skin navbar
 * ----------- */
.navbar-warnfight {
    background-color: #f8f8f8;
    border: 0px;
    margin-bottom: 0;
    right:0;
    left:0;
}

.navbar-warnfight .dropdown-menu {
    margin: 0;
}
.navbar-top-links li {
    display: inline-block;
}
.navbar-top-links li:last-child {
    margin-right: 15px;
}
.navbar-top-links li a {
    padding: 15px;
    min-height: 5%;
}
.navbar-top-links .dropdown-menu li {
    display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/*
 * Animations
 * ---------- */
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
@-webkit-keyframes rubberBand{0%{-webkit-transform:scale(1);transform:scale(1)}30%{-webkit-transform:scaleX(1.25) scaleY(0.75);transform:scaleX(1.25) scaleY(0.75)}40%{-webkit-transform:scaleX(0.75) scaleY(1.25);transform:scaleX(0.75) scaleY(1.25)}60%{-webkit-transform:scaleX(1.15) scaleY(0.85);transform:scaleX(1.15) scaleY(0.85)}100%{-webkit-transform:scale(1);transform:scale(1)}}
@keyframes rubberBand{0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}30%{-webkit-transform:scaleX(1.25) scaleY(0.75);-ms-transform:scaleX(1.25) scaleY(0.75);transform:scaleX(1.25) scaleY(0.75)}40%{-webkit-transform:scaleX(0.75) scaleY(1.25);-ms-transform:scaleX(0.75) scaleY(1.25);transform:scaleX(0.75) scaleY(1.25)}60%{-webkit-transform:scaleX(1.15) scaleY(0.85);-ms-transform:scaleX(1.15) scaleY(0.85);transform:scaleX(1.15) scaleY(0.85)}100%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}.rubberBand{-webkit-animation-name:rubberBand;animation-name:rubberBand}


@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 12px rgba(255, 143, 0,0.2);
    }
    50% {
        -webkit-box-shadow: 0 0 12px rgba(255, 143, 0,0.9);
    }
    100% {
        -webkit-box-shadow: 0 0 12px rgba(255, 143, 0,0.2);
    }
}

/* Ici le code pour appliquer une lueur externe */
/* 0px de décalage en x, 0px de décalage en y, 12px de flou et la valeur en RGBA soit RedGreenBlueAlpha donc le 0.5 pour 50% d'opacité */
.ombreorange {
    -webkit-box-shadow: 0px 0px 12px rgba(255, 143, 0, 0.78);
    -moz-box-shadow: 0px 0px 12px rgba(255, 143, 0, 0.78);
    box-shadow: 0px 0px 12px rgba(255, 143, 0, 0.78);
    -webkit-animation: pulse 1.5s infinite ease-in-out; /* Ici on utilise l'animation référencée plus haut */
}


/*
 * Titre souligné
 * -------------- */
.headline {
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;
}
.headline h1, .headline h2, .headline h3, .headline h4 {
    color: #585f69;
    margin: 0 0 -2px 0;
    padding: 0 10px;
    display: inline-block;
    border-bottom: 2px solid #FF7C00;
}

.headline-footer {
    display: block;
    margin: 10px 0 10px 0;
}
.headline-footer h1, .headline-footer h2, .headline-footer h3, .headline-footer h4 {
    color: #fff;
    margin: 0 0 -2px 0;
    padding: 0 10px;
    display: inline-block;
    border-bottom: 2px solid #FF7C00;
}
/*
 * Effet d'ombre
 * ------------- */
.shadow {
    background: url('/assets/images/slider/slider-shadow.png') no-repeat;
    background-size: 100%;
    height: 30px;
    bottom: -30px;
}
.img-width-100 {
    width: 100px;
}
.tab-content{
    margin-top: 10px;
    margin-bottom: 10px;
}


#topbar {
    margin: 0 50px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    padding: 0;
}
.loginbar {
    margin: 0;
    padding: 0 10px;
    z-index: 9999;
    list-style: none;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: #7c8082;
    font-size: 11px;
    text-align: right;
}

.loginbar li {
    display:inline-block;
    list-style:none;
}

.loginbar li a,
.loginbar li a:hover {
    text-transform:uppercase;
    color:#7c8082;
    font-size:11px;
}

.loginbar li.devider {
    top:-1px;
    padding:0;
    font-size:8px;
    position:relative;
    margin:0 6px 0 2px;
    font-family:Tahoma;
    border-right:solid 1px #bbb;
}

.loginbar i {
    color:#999;
    font-size:18px;
    margin-top:3px;
    cursor:pointer;
}

/*Lenguages*/
.loginbar li ul {
    top: 20px;
    margin: 0;
    display: none;
    position: absolute;
    border-radius: 3px;
    background: #f0f0f0;
    text-align: left;
    padding: 0;
}

.loginbar li:hover ul {
    display:block;
}

.loginbar li ul li {
    padding-bottom: 0;
    display: list-item;
    position: relative;
    margin-bottom: 1px;
}

.loginbar li ul li a {
    color:#555;
    display:block;
    min-width:85px;
    font-size:10px;
    padding:2px 12px;
    background:#f0f0f0;
    text-decoration:none;
}

.loginbar li ul li a:hover,
.loginbar li ul li.active a {
    opacity:1 !important;
    color:#555 !important;
    font-size:10px !important;
    text-shadow:none !important;
    background:#fafafa !important;
}

.loginbar li ul li.active i {
    top:2px;
    right:-5px;
    font-size:14px;
    cursor:default;
    position:absolute;
    text-shadow:0 1px 0 #e9e9e9;
}

.loginbar i.icon-globe {
    color:#bbb;
    font-size:13px;
    margin:3px 3px 0 0;
}

.loginbar li i.icon-sort-up {
    top:21px;
    left:-1px;
    color:#eee;
    display:none;
    font-size:14px;
    cursor:default;
    position:absolute;
}

.loginbar li:hover i.icon-sort-up {
    display:block;
}

.loginbar li:hover i.icon-ok {
    top:-2px;
    color:#aaa;
}

.selectorPaypal{
    margin: auto auto 60px auto;
    width:650px;
}

/* Crappy Android portrait · width: 240px */
/* iPhone 3+4 portrait · width: 320px */
/* iPhone 5 landscape · width: 568px */
/* Android (Nexus 4) landscape · width: 600px */

@media screen and (min-width: 240px) and (max-width: 600px) {
    #topbar {
        margin: 0px;
    }
    #box {
        margin: 15px 0px;
    }
    .main-slider-container {
        display: none;
    }
    .navbar-top-links li:last-child {
        margin-right: 0px;
    }
    .navbar-top-links li {
        display: inline;
    }
    h1, .h1 {
        font-size: 20px;
    }
    #main-container .container {
        margin-left: 0px;
        margin-right: 0px;
        width: auto;
    }
    #footer-bottom {
        font-size: 13px;
    }
    .shopList li {
        width: 48% !important;
        margin: auto;
    }
    .selectorPaypal{
        width: 100%;
    }
    .partenaires .videos {
        display: none !important;
    }
}
/* iPad landscape · width: 1024px */
@media screen and (max-width: 1024px) {
    #topbar {
        margin: 0px;
    }
    #box {
        margin: 20px 0px;
    }
}
/* iPad portrait · width: 768px */
@media screen and (min-width: 600px) and (max-width: 768px) {
    #topbar {
        margin: 0px;
    }
    #box {
        margin: 20px 0px;
    }
    .main-slider-container {
        display: none;
    }
    h1, .h1 {
        font-size: 20px;
    }
    #main-container .container {
        margin-left: 0px;
        margin-right: 0px;
        width: auto;
    }
    #footer-bottom {
        font-size: 13px;
    }

    .selectorPaypal{
        width: 100%;
    }
    .partenaires .videos {
        display: none !important;
    }
}
@media screen and (min-width: 240px) and (max-width: 320px) {
    .shopList li {
        width: 98% !important;
    }
}


